body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #ffffff;
}

/* .footer {
  color: #ffffff;
  background-color: #2f303a;
} */
.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.logo > span {
  color: #000000;
}

.nav-item > a {
  text-decoration: none;
}

.hero > h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero {
  background-color: #2f303a;
}
.hero > button {
  background-color: #2196f3;

  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: #ffffff;
}
.benefits h3 {
  color: #212121;

  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.benefits p {
  color: #757575;
}
.doing > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.team > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.team p {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.footer {
  background-color: #000000;
}

.logo.logo_footer > span {
  color: #ffffff;
}
.contacts-adress {
  color: #ffffff;
}
.contacts {
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-item:hover a,
.nav-item a:focus {
  color: #2196f3;
}

.nav-item a {
  color: #212121;
}

.nav-item.nav-item_active a {
  color: #2196f3;
}
